*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 36, 43);
    color: white;
}
#root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.generalContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: stretch;
}
.inputsSide{
    flex-grow: 1;
}
.preview{
    flex-grow: 2;
}
.inputForm{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.inputForm div{
    display: flex;
    flex-direction: column;
}